* {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

label,
img,
audio,
video,
canvas,
meter,
progress,
svg,
iframe {
    display: block;
}

button {
    font-size: inherit;
    cursor: pointer;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

html {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    padding: 0;
}

body {
    display: flex;
    overflow-x: hidden;
    line-height: 1;
    background-color: #FFFFFF;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

body main {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    padding: 24px;
}

.Link {
    display: block;
    font-size: inherit;
    text-decoration: none;
    color: #4F8CC4;
    cursor: pointer;
}

.Link:hover {
    transition: .2s color ease;
    text-decoration: underline;
    color: #5E8FC9;
}