<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="css/master.css">
    </head>
    <body>
        <main>
            <header>
                <h1>
                    Game of Thrones
                </h1>
            </header>
            <section>
                <ul class="InfiniteScrollList">
                    <% characters.forEach(function(character) { %>
                        <li>
                            <a class="CharacterButton Link" href="<%= character.url %>">
                                <%= character.name %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </section>
        </main>
    </body>
</html>