<header class="PageHeader">
    <nav>
        <a class="Link" href="/">
            <h1>
                Game of Thrones
            </h1>
        </a>
    </nav>
    <form action="/search" method="POST" enctype="application/x-www-form-urlencoded" class="SearchForm">
        <fieldset>
            <legend id="searchTextLabel">
                Search for a character
            </legend>
            <label class="Search" for="searchText" aria-labelledby="searchTextLabel">
                <input
                    class="Search__input"
                    type="text"
                    name="searchText"
                    id="searchText"
                    placeholder="Search for a character"
                >
            </label>
        </fieldset>
    </form>
</header>